{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<!-- Estilos -->
<style>
  #id_acompanhareclamacao {
    border: 1px solid #000; /* Altere para a cor desejada */
    text-transform: uppercase;
  }

  #id_acompanhareclamacao:checked {
    background-color: green;
  }

  .mensagem-vermelha {
      color: red;
  }
</style>

<!-- Mensagens -->
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }} mensagem-vermelha"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<!-- Formulário -->
<div class="container">
    <h1>Formulário de Reclamações</h1>
    <form method="post" action="" class="form-group mt-3" onsubmit="return showMessage()">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row mt-3">
          <div class="col-6 ">
            <a class="btn btn-outline-secondary text-decoration-none" href="{% url 'reclamacaoes_formulario'%}"> Cancelar </a>
          </div>
          <div class="col-6 text-end">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </div>
    </form>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function showMessage() {
    // Substitua isso pela sua condição
    if (dadosValidadosESalvosComSucesso) { 
        alert("Sua reclamação foi enviada. Caso tenha optado por acompanhar sua reclamação, pesquise por CPF.");
        return true;
    } else {
        // Se os dados não foram validados ou salvos corretamente, não exiba a mensagem
        return false;
    }
}

$(document).ready(function() {
    // Quando a página é carregada, verificar o estado do campo cpfOpcional
    if ($('#id_acompanhareclamacao').is(':checked')) {
        // Se cpfOpcional estiver marcado, permitir a edição do campo CPF
        $('#id_cpf').prop('readonly', false);
    } else {
        // Se cpfOpcional não estiver marcado, definir o campo CPF como somente leitura
        $('#id_cpf').prop('readonly', true);
    }

    // Quando o estado do campo cpfOpcional mudar, atualizar a propriedade readonly do campo CPF
    $('#id_acompanhareclamacao').change(function() {
        if ($(this).is(':checked')) {
            // Se cpfOpcional estiver marcado, permitir a edição do campo CPF
            $('#id_cpf').prop('readonly', false);
        } else {
            // Se cpfOpcional não estiver marcado, definir o campo CPF como somente leitura e limpar o valor
            $('#id_cpf').prop('readonly', true);
            $('#id_cpf').val('');
        }
    });

    $('#id_cep').change(function() {
        var cep = $(this).val();
        $.ajax({
            url: 'https://viacep.com.br/ws/'+ cep +'/json/',
            dataType: 'json',
            success: function(response) {
                $('#id_rua').val(response.logradouro);
                $('#id_bairro').val(response.bairro);
                $('#id_rua').prop('readonly', true);
                $('#id_bairro').prop('readonly', true);
            }
        });
    });
});

</script>

{% endblock content %}
