{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <!-- Título e botão de nova reclamação -->
    <div class="row">
        <div class="col-8">
            <h1>Consulte sua reclamação</h1>
        </div>
        <div class="col-4">
            <a class="btn btn-info" href="{% url 'reclamacaoes_formulario' %}">Nova Reclamação</a>
        </div>
    </div>

    <!-- Formulário de busca por CPF -->
    <form method="GET" action="" style="display: flex;">
        <input type="text" name="cpf" placeholder="Buscar por CPF(Apenas números)" pattern="\d{11}" title="Por favor, insira um CPF válido com 11 dígitos(Apenas números)." style="width: 250px; margin-right: 10px;">
        <input type="submit" value="Buscar" class="btn-buscar">
    </form>

    <!-- Tabela de resultados -->
    <div>
        {% if object_list %}
            <table class="table table-bordered table-striped">
                <tr>
                    <th>STATUS</th>
                    <th>RESPOSTA</th>
                    <th>NOME</th>
                    <th>TIPO DE RECLAMAÇÃO</th>
                    <th>DESCRIÇÃO</th>
                </tr>
                {% for reclamacao in object_list %}
                    <tr>
                        <td>{{ reclamacao.status }}</td>
                        <td>{{ reclamacao.historico }}</td>
                        <td>{{ reclamacao.nome }}</td>
                        <td>{{ reclamacao.get_tipo_reclamacao_display }}</td>
                        <td>{{ reclamacao.observacao }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% elif request.GET.cpf %}
            <!-- Mensagem quando não há resultados -->
            <p>Não existe reclamação com esse CPF.</p>
        {% endif %}
    </div>

{% endblock content %}
