{% load static %}
<!-- Calendário de Coleta nos Bairros - Página Inicial -->
<div>
    <section class="features-3 py-5 draggable" draggable="true">
        
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-4 mb-lg-0 mb-4">
                    <a href="{% url 'agenda' %}" class="">
                        <div class="card m-2">
                            <div class="card-header p-0 position-relative z-index-1">
                                <img src="{% static 'publico/img/agenda-coleta.jpg' %}"
                                     class="card-img-top img-fluid border-radius-lg"
                                     alt="Agenda semanal de coleta">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Agenda semanal de coleta</h5>
                                <p class="card-text">Veja em qual dia a gente passa no seu bairro</p>
                                <a href="{% url 'agenda' %}" class="btn btn-primary">Ver agenda</a>
                            </div>
                        </div>
                    </a>
                    
                </div>
                <div class="col-lg-4 mb-lg-0 mb-4">
                    <a href="javascript:;" class="">
                        <div class="card m-2">
                            <div class="card-header p-0 position-relative z-index-1">
                                <img src="{% static 'publico/img/solcite-saco-verde.jpg' %}"
                                     class="card-img-top img-fluid border-radius-lg"
                                     alt="Solicite o saco verde">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Solicite o saco verde</h5>
                                <p class="card-text">Solicite o saco verde para você separar seus recicláveis. É de graça.</p>
                                <a href="#" class="btn btn-primary">Solcitar agora</a>
                            </div>
                        </div>
                    </a>
                    
                </div>

                <div class="col-lg-4 mb-lg-0 mb-4">
                    <a href="javascript:;" class="">
                        <div class="card m-2">
                            <div class="card-header p-0 position-relative z-index-1">
                                <img src="{% static 'publico/img/dicas-separacao.jpg' %}"
                                     class="card-img-top img-fluid border-radius-lg"
                                     alt="Dicas de separação de material reciclável">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Quais materiais coletamos?</h5>
                                <p class="card-text">Confira essas dicas de como separar os materiais e os tipos que coletamos</p>
                                <a href="#" class="btn btn-primary">Conferir Dicas</a>
                            </div>
                        </div>
                    </a>
                    
                </div>
                
            </div>
        </div>
    </section>
</div>
