{% load static %}

<div class="row justify-content-center text-center mt-4">
    <div class="col-md-3">
        <h1 class=" text-primary">+ <span id="state2" countTo="3400">0</span></h1>
      <h5 class="text-primary">Toneladas</h5>
      <p>de lixo recolhidas e recicladas</p>
    </div>
    <div class="col-md-3">
      <h1 class="text-primary">+ <span id="state2" countTo="3400">0</span></h1>
      <h5 class="text-primary">Pessoas</h5>
      <p>impactadas diretamente pelo projeto</p>
    </div>
    
  </div>

  <script>

    var animateComplete = true;
    // animate element when it is in view
    function animate() {

      // is element in view?
      if (inView()) {
        if (animateComplete) {
          if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
              countUp.start();
            } else {
              console.error(countUp.error);
            }
          }
          if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
              countUp1.start();
            } else {
              console.error(countUp1.error);
            }
          }
          if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
              countUp2.start();
            } else {
              console.error(countUp2.error);
            };
          }
          animateComplete = false;
        }
      }
    }


  </script>