<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-4 mx-auto text-center">
            
          </div>
          <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
                        
            <a href="https://www.facebook.com/lixorico/" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-3xl fab fa-facebook"></span>
            </a>

            <a href="https://api.whatsapp.com/send?phone=5514996072653" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-3xl fab fa-whatsapp"></span>
            </a>            
            
          </div>
        </div>
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              &copy; <a href="https://acarmacatuba.com.br" class="text-muted" target="_blank">ACAR - Associação dos Catadores de Recicláveis de Macatuba</a>
            </div>
            <p class="mt-4 copyright text-center text-sm text-muted text-lg-start">
              Este site foi desenvolvido pelos alunos da UNIVESP como projeto prático na discilina Projeto Integrador 2 dos cursos de Engenharia de Computação, Tecnoclogia da Informação e Ciência de Dados.
              <br>Polos Macatuba e Bariri
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->