<!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-4 mx-auto text-center">
            
          </div>
          <div class="col-lg-8 mx-auto text-center mb-4 mt-2">
            
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-3xl fab fa-instagram"></span>
            </a>
            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-3xl fab fa-facebook"></span>
            </a>

            <a href="javascript:;" target="_blank" class="text-secondary me-xl-4 me-4">
              <span class="text-3xl fab fa-whatsapp"></span>
            </a>
            
          </div>
        </div>
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              &copy; <a href="" class="text-muted" target="_blank">ACAR - Associação dos Catadores de Recicláveis de Macatuba</a>
            </div>
            <p class="mt-4 copyright text-center text-sm text-muted text-lg-start">
              Desenvolvido pelos alunos da UNIVESP.
              <br>Polos Macatuba e Barueri
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->