{% load static %}
<!-- Navbar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg blur p-0 top-0 z-index-3 shadow navbar-dark bg-primary ">
  <div class="container-fluid pe-0 text-white bg-gradient-primary">
    <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white"
       href="/">Projeto Lixo Rico Macatuba-SP</a>
    <button class="navbar-toggler shadow-none ms-2 text-white"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navigation"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2 text-white">
        <div class="sidenav-toggler-inner text-white">
          <i class="fa fa-bars text-white"></i>
        </div>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mx-auto ms-xl-auto">
        <li class="nav-item text-white">
          <a class="nav-link d-flex align-items-center me-2 active"
             aria-current="page"
             href="/">
            <i class="fa fa-home text-white"></i>
            <span class="p-2 text-white">Início</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center me-2 active"
             aria-current="page"
             href="/">
            <i class="fa fa-chart-line text-white"></i>
            <span class="p-2 text-white">Nossos Números</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center me-2 active"
             aria-current="page"
             href="/">
            <i class="fa fa-recycle text-white"></i>
            <span class="p-2 text-white">Participe</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center me-2 active"
             aria-current="page"
             href="/">
            <i class="fa fa-phone text-white"></i>
            <span class="p-2 text-white">Fale com a gente</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center me-2 active"
             aria-current="page"
             href="{% url 'sobre' %}">
            <i class="fa fa-users text-white"></i>
            <span class="p-2 text-white">Sobre o Projeto</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
