{% extends "layouts/base-publico.html" %}
{% load i18n static admin_soft %}
{% block content %}
    <main class="main-content">
        <section>
            <div class="container mt-4">
                <h1>Sobre o Projeto Lixo Rico</h1>
                <p>
                    Criado em 2007 pela Prefeitura Municipal de Macatuba-SP, o Lixo Rico é
                    um projeto social e ambiental que apoia o trabalho de coletores de
                    materiais recicláveis. O projeto tem como objetivo a coleta seletiva
                    de lixo, a reciclagem e a geração de renda para os catadores.
                </p>
                <p>
                    No início os coletores andavam pela cidade com um carrinho fazendo a coleta manualmente.
                    Hoje a coleta é motorizada por um caminhão fornecido pela prefeitura e os trabalhadores
                    atuam na triagem, separação e prensagem dos materiais recicláveis, que posteriormente
                    são vendidos e os ganhos divididos entre os coletores associados.
                </p>
                <p>
                    Em abril de 2023 o projeto firmou parceria com a Assoação ACAR, especializada em coleta
                    seletiva. A prefeitura fornece a estrutura para o projeto e a ACAR é responsável pela
                    implatantação, operação e manutenção do sistema de Coleta Seletiva em Macatuba-SP.
                </p>
            </div>
        </section>
    </main>
    {% include "includes/footer-fullscreen.html" %}
{% endblock content %}
