{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <div class="container-fluid py-4">
        <h1>Sobre o projeto</h1>
        <p>
            Este projeto foi desenvolvido como projeto prático para a disciplina de Projeto Integrador II, dos cursos de Engenharia de Computação, Tecnologia da Informação e Ciência de Dados da Universidade Virtual do Estado de São Paulo  - Univesp com alunos dos polos de Macatuba e Bariri.
            <br>
            Entregue em Novembro de 2023
        </p>
        <div class="card card-horizontal mt-2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://media.licdn.com/dms/image/D4D03AQE__1sswPIheA/profile-displayphoto-shrink_200_200/0/1672491329949?e=1704326400&v=beta&t=AxIiboR_kBH4in_5XhGdHazrbaHrYlvit9ia_Fpnb0A"
                         class="card-img"
                         alt="Avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Ângelo Luiz de Almeida</h5>
                        <p class="card-text">Matrícula: 2005460</p>
                        <a href="https://www.linkedin.com/in/angelo-almeida-cientista-dados/"
                           class="btn btn-primary">LinkedIn</a>
                        <a href="https://github.com/angelolalmeida/" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>            
        </div>


        <div class="card card-horizontal mt-2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://avatars.githubusercontent.com/u/100536999?v=4"
                         class="card-img"
                         alt="Avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Antonio Carlos Perucci Junior</h5>
                        <p class="card-text">Matrícula: </p>
                        <a href="https://www.linkedin.com/in/antonio-carlos-perucci-junior-0b8a6664/"
                           class="btn btn-primary">LinkedIn</a>
                        <a href="https://github.com/perucci17" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>            
        </div>

        <div class="card card-horizontal mt-2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://media.licdn.com/dms/image/D4D03AQH47Tuj2F5U7g/profile-displayphoto-shrink_200_200/0/1680824995802?e=1704326400&v=beta&t=ktXUX5C0rHWw4eJ-C9nW49WYTxe0GZ47F6MYozido6I"
                         class="card-img"
                         alt="Avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Denis Fermino de Souza</h5>
                        <p class="card-text">Matrícula: </p>
                        <a href="https://www.linkedin.com/in/denis-souza-b12b68186/"
                           class="btn btn-primary">LinkedIn</a>
                        <a href="https://github.com/Souzadf" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>            
        </div>

        <div class="card card-horizontal mt-2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://avatars.githubusercontent.com/u/134171136?v=4"
                         class="card-img"
                         alt="Avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Marcelo Zanoni Camargo</h5>
                        <p class="card-text">Matrícula: </p>
                        <a href="https://www.linkedin.com/in/mzcamargo/"
                           class="btn btn-primary">LinkedIn</a>
                        <a href="https://github.com/marcelozc" class="btn btn-secondary">GitHub</a>
                    </div>
                </div>
            </div>            
        </div>

        <div class="card card-horizontal mt-2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/id/1451587807/pt/vetorial/user-profile-icon-vector-avatar-or-person-icon-profile-picture-portrait-symbol-vector.jpg?s=1024x1024&w=is&k=20&c=IQ1b1IUcQslDQVSQVjpd2l-UmBa-2OFMDvUVl--8Mwo="
                         class="card-img"
                         alt="Avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Stephanie Hungria Cecci Gonçales</h5>
                        <p class="card-text">Matrícula: </p>
                        
                    </div>
                </div>
            </div>            
        </div>

        <div class="card card-horizontal mt-2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/id/1451587807/pt/vetorial/user-profile-icon-vector-avatar-or-person-icon-profile-picture-portrait-symbol-vector.jpg?s=1024x1024&w=is&k=20&c=IQ1b1IUcQslDQVSQVjpd2l-UmBa-2OFMDvUVl--8Mwo="
                         class="card-img"
                         alt="Avatar">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Vitor Felipe Oliveira</h5>
                        <p class="card-text">Matrícula: </p>
                        <a href="https://github.com/OliveiraVitor94" class="btn btn-secondary">GitHub</a>
                        
                    </div>
                </div>
            </div>            
        </div>

    {% endblock content %}
