
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Coletas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #f9f9f9;
            margin: 5px 0;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Informações das Coletas</h1>
    <ul>
        {% for coleta in coletas %}
            <li><strong>Data da Coleta:</strong> {{ coleta.data_coleta }}, <strong>Bairro:</strong> {{ coleta.bairro }}, <strong>Quantidade Coletada:</strong> {{ coleta.quantidade_coletada }} {{ coleta.unidade_medida }}</li>
        {% endfor %}
    </ul>
</body>
</html>
